<HTML>

<HEAD>

<TITLE>Load data from EXCEL: {{ form_class_name }}</TITLE>

</HEAD>

<BODY>

<h1>Load data from EXCEL: {{ form_class_name }}</h1>

<form action="" method="POST" enctype="multipart/form-data"{# <-Required enctype #}>{% csrf_token %}
	<table>
		{{ form }}
		<tr>
			<th/>
			<td>
				<input type="submit" value="Load data" />
			</td>
		</tr>
	</table>
</form>


{% if with_good and converted_items %}
<h3>Check:</h3>
<div class="results">
<table>
    {% for item in converted_items %}
    <tr>
        {% for value in item %}
        <td><div style="white-space: pre-wrap;">{{ value }}</div></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}

</BODY>

</HTML>